<nav class="navbar navbar-expand navbar-dark bg-dark fixed-top">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item">
      <div ng-sidebar-content>
        <button class="btn btn-primary btn-outline-light" data-toggle="collapse" data-target=".sidebar"></button>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="home">HOME</a>
    </li>
  </ul>
</nav>
<aside class="col-1 col-sm-2 p-0 bg-inverse collapse show sidebar fade fixed-top h-100">
  <nav class="navbar navbar-toggleable-xl navbar-inverse bg-inverse flex-column align-items-start">
    <div class="collapse show navbar-collapse sidebar" [ngSwitch]="isAuthenticated()">
      <div class="sidebar-logo">
        User System
      </div>
      <ul class="flex-column navbar-nav sidebar-navigation">
        <li class="nav-item" class="header">Navigation</li>
        <li class="nav-item" *ngSwitchCase="true">-->
          <a (click)="logout()" id="logout">
            <span>Sign out</span>
          </a>
        </li>
        <li class="nav-item" *ngSwitchCase="false">
          <a (click)="login()" id="login">
            <span>Sign in</span>
          </a>
        </li>
        <li class="nav-item" *ngSwitchCase="true">
          <a routerLink="info" routerLinkActive="active" (click)="closeSideBar()" id="info">
            <span>User info</span>
          </a>
        </li>
        <li class="nav-item" *ngSwitchCase="true">
          <a routerLink="create" routerLinkActive="create/user" (click)="closeSideBar()"
             id="create">
            <span>Create user</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
<div ng-sidebar-content>
  <main class="container">
    <div class="col col-md-12">
    <router-outlet></router-outlet>
    </div>
  </main>
</div>



