<div>
  <div class="row justify-content-center">
    <div class="col-md-8">
      <h1>Create Address</h1>
    </div>
  </div>
  <div *ngFor="let form of forms" class="card justify-content-center">

    <div class="col-md-8 card-body">
      <form-address [form]="form"></form-address>
    </div>
  </div>
  <button type="button" (click)="back()" class="btn btn-primary">BACK</button>
  <button type="button" (click)="addNew()" class="btn btn-primary">ADD NEW</button>
  <button type="button" [disabled]="checkForms()" (click)="next()" class="btn btn-primary">NEXT</button>
</div>
